.app-page {
  color: black;
}

.create-collection input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
}

.create-collection button {
  margin-left: 10px;
  padding: 10px;
  background-color: lightgray;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.collections-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.collection-card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  transition: 0.2s;
}

.collection-card:hover {
  background: #f0f0f0;
}

.collection-count {
  color: gray;
  font-size: 14px;
}
