.app-account {
  position: relative;
  left: 45vw;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 10%;
  width: 100%;
  border-radius: 10px;
  background: #003b49;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 20px -5px;
}
