.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.app h1 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.app-button {
  padding: 0.6rem 1.25rem;
  font-size: 12rem;
  font-weight: 500;
  color: var(--btn-text-color, #2626b0);
  background: var(--btn-bg, #c41717);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background 0.2s,
    transform 0.1s;
}

.app-button:hover {
  background: var(--btn-hover-bg, #077d92);
  transform: translateY(-1px);
}

.app-button:active {
  background: var(--btn-active-bg, #ac0f0f);
  transform: translateY(0);
}

/*
Navbar formatting style acquired from:
    - https://codepen.io/kiran-r-raj/pen/QWqpgPe
*/
.app-navbar {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.app-navbar nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 10%;
  width: 100%;
  border-radius: 10px;
  background: #003b49;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 20px -5px;
}

.app-navbar-list {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-navbar-item {
  position: relative;
  width: 140px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  cursor: pointer;
  margin: auto;
  border: 2px solid #f2c75c;
  overflow: hidden;
}

.app-navbar-item a {
  font-size: 16px;
  text-transform: uppercase;
  color: #f2c75c;
  z-index: 10;
  text-decoration: none;
  transition: color 200ms ease;
}

.app-navbar-item:hover a {
  color: #003b49;
}

.app-navbar-item:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  transform: skew(30deg);
  background: #f2c75c;
  transition: width 400ms ease;
}

.app-navbar-item:hover:before {
  width: 120%;
}

.app-navbar-account {
  width: 100%;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}

.app-navbar-account-item {
  position: relative;
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  cursor: pointer;
  margin: 5px 30px;
  border: 2px solid #f2c75c;
  overflow: hidden;
}

.app-navbar-account-item a {
  font-size: 16px;
  text-transform: uppercase;
  color: #f2c75c;
  z-index: 10;
  text-decoration: none;
  transition: color 200ms ease;
}
